@import "bourbon";

//color
$main-color: #1f1f35;
$orange-color: #fb422f;
$blue-color: #2b2bbb;


//font
$bender: "Bender", sans-serif;
$bender-bold: "BenderBold", sans-serif;
$proxima: "ProximaRegular", sans-serif;
$proxima-bold: "ProximaBold", sans-serif;


//viewport size
$desktop: "1200px";
$tablet: "992px";
$phone: "768px";
$extra-small: "480px";